<h2 mat-dialog-title class="dialog-title" style="font-size: xx-large">
  {{ isEditMode ? "Edit User" : "Create User" }}
</h2>

<div mat-dialog-content class="dialog-content">
  <!-- <img [src]="data.image" alt="{{ data.title }}" class="product-image" /> -->
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>firstName</mat-label>
      <input matInput formControlName="firstName" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>lastName</mat-label>
      <input matInput formControlName="lastName" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>DOB</mat-label>
      <input
        matInput
        type="date"
        formControlName="DOB"
        required
        placeholder="Choose a date"
      />
      <!-- <mat-datepicker #picker></mat-datepicker> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>phoneNumber</mat-label>
      <input matInput type="number" formControlName="phoneNumber" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>email</mat-label>
      <input matInput formControlName="email" required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" class="cancel-button">Cancel</button>
  <button mat-button color="primary" (click)="onSave()" class="save-button">
    Save
  </button>
</div>
